*{
    box-sizing: border-box;
}
.sercher{
    text-align: center;
    width: 100%;
    height: 20%;
    overflow: hidden;
}
.box-border{
    border: 1px solid black;
}
.box-main{
    height: 40%;
    width: 100%;
}
.video{
    height: 40%;
    width: 60%;
    margin: 5% 10% 5% 5%;
}
.border-side{
    height: 40%;
    width: 20%;
}
.c1{
    background-color: rgb(165, 162, 162);
}
h4{
    text-align: center;
}

footer{
    clear:both;
}
.searcher-element{
    width: 100%;
}
.pos{
    float: left;
}
a{
    text-decoration: none;
}
